body{
  background-color: gray;
}

h1, select, h3, h2, tbody, tr, th, td {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#elixir-name:hover{
  background-color: gray;
}

#table{
  margin: 5vh 0;
  text-align: center;
  display: block;
  background-color: white;
  table-layout: auto;
}

.container {
  display: block;
}
